[submodule "docs/jsdifflib"]
	path = docs/jsdifflib
	url = https://github.com/cemerick/jsdifflib.git
[submodule "pythonista-webview"]
	path = pythonista-webview
	url = https://pome-ta@github.com/pome-ta/pythonista-webview
